.storybook-button {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  height: 32px;
  width: 273px;
  left: 584px;
  top: 438px;
  border-radius: 2px;


  cursor: pointer;
}
.storybook-button--primary {
  color: #FFFFFF;
  background-color: #56B280;
  border: 1px solid #4E966F;
}
.storybook-button--secondary {
  color: #448562;
  background-color: #56B28033;
  border: 1px solid #4E966F80;
}
/*.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
*/